* {
    margin: 0;
    padding: 0px;
    border: 0;
}

header {
    background-color: #F20800;
    color: #ECCF71;
    font-family: "Bazinga",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    width: 100%;
    padding: 40px;
}

header h1 {
    text-align: center;
    font-size: 40px;
}

body {
    background-image: url("../images/bolt.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    
}

.directions {
    text-align: center;
    border: 2px solid #F20800;
    background-color: #352839;
    color: #ECCF71;
    font-family: "Bazinga",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    width: 75%;
    margin: 0 auto;
}




.directions p {
    font-family: "Bazinga",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;;
    color: #ECCF71;
    font-size: medium;
    margin: 10px;
    
}

.directions li {
    background-color: #352839;
    color: #ECCF71;
    list-style-type: none;
    border: 1px solid #F20800;
    width: 25%;
    margin-left: 37%;
}



.main-score {
    background-color: #F20800;
    color: #ECCF71;
    font-family: "Bazinga",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 75.25%;
    margin: 0 auto;
    
}

.score-players {
    color: #352839;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans', sans-serif;
    margin-left: 12.25%;
}

.score-you, .score-comp {
    display: inline-block;
    width: 25vw;
    background-color: #352839;
    color: #ECCF71;
    border: 1px solid #F20800;
    text-align: center;
    padding: 10px;
    margin-left: 12.25%;
    margin-bottom: 15px;
}

.result {
    color: #ECCF71;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 28px;
    margin-left: 32.5%;
    margin-right: 40%;
    margin-bottom: 50px;
    background-color: #352839;
    
}

.compchoice {
    color: #352839;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 28px;
    margin-left: 17.55%;
    margin-bottom: 10px;
}



.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #352839;
    font-weight: bold;
    margin-bottom: 50px;
    
}

.weapon {
    border: 2px solid #F20800;
}



footer {
    background-color: #F20800;
    color: #ECCF71;
    font-family: "Bazinga",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0%;

}

.buttons button:hover {
   
    border: 3px dashed #F20800;
    cursor: pointer;
}

@media screen and (max-width: 988px ) {
    .directions li {
        width: 50%;
        margin-left: 24%;
    }
    .weapon {
        margin: 10px 5px 50px 5px;
        
    }
    .compchoice {
        margin-left: 6.25%;
    }
    .result {
        margin-left: 6.75%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-repeat: repeat;
        background-size: auto;
    }

    .directions {
        margin-left: 16%;
    }

    .main-score {
        margin-left: 16%;
        width: 76%;
    }
    
    .directions li {
        width: 80%;
        margin-left: 9.50%;
    }
  
}